*{
    margin: 0px;
    box-sizing: border-box;
    font-family: Noto Sans TC;
}

html, body{
    height: 100%;
}

nav{
    width:100%;
    position: fixed;
    top: 0px;
    display: grid;
    background-color: white;
    padding: 10px;
    z-index: 10;
}

nav > .top_box{
    width: inherit;
    display: grid;
    grid-template-columns: auto 175px;
    align-items: center;
}

nav > .top_box > .title{
    justify-self: start;
    font-size: 30px;
    color: #448899;
    cursor: pointer;
}

nav > .top_box > .option_list{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    padding: 10px;
}

nav > .top_box > .option_list > .option{
    font-size: 16px;
    cursor: pointer;
}

nav > .top_box > .option_list > .option:hover{
    text-decoration: underline;
}

dialog{
    width: 340px;
    background-color: white;
    box-shadow: 0px 4px 60px #AAAAAA;
    border-radius: 6px;
    position: fixed;
    top: 80px;
    margin: 0 auto;
    border: none;
    padding: 0px;
}

dialog::backdrop{
    background-color: rgba(0, 0, 0, 0.25);
}

dialog > .dialog_box{
    display: grid;
    width: 100%;
    justify-content: center;
    padding: 15px 0 15px 0;
    position: relative;
}

dialog > .decorator_bar{
    background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
    height: 10px;
    width: 100%;
}

dialog > .dialog_box > .sign{
    display: grid;
    grid-template-columns: 310px;
    justify-items: center;
    row-gap: 10px;
}

dialog > .dialog_box > .sign > .sign_title{
    font-weight: bold;
    font-size: 24px;
    color: #666666;
}

dialog > .dialog_box > .sign > .icon_close{
    width: 16px;height: 16px;
    position: absolute;
    top: 17px;
    right: 17px;
    z-index: 2;
}

dialog > .dialog_box > .sign form{
    display: grid;
    grid-template-columns: 310px;
    row-gap: 10px;
}

dialog > .dialog_box > .sign form > input{
    padding: 15px;
    color: #757575;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #CCCCCC;
}

dialog > .dialog_box > .sign form > input.invalid{
    border: 2px solid red;
}

dialog > .dialog_box > .sign form > .dialog_btn{
    border-radius: 5px;
    background-color: #448899;
    padding: 10px 20px 10px 20px;
    color: white;
    font-size: 19px;
    font-weight: 400;
    width: 100%;
    text-align: center;
    cursor: pointer;
    border: none;
}

dialog > .dialog_box > .sign > .click_to{
    font-size: 16px;
    font-weight: 500;
    color: #666666;
}

dialog > .dialog_box > .sign > .click_to span{
    cursor: pointer;
}

dialog > .dialog_box > .sign > .response_text{
    color: red;
}

main{
    padding-top: 62px;
    width: 100%;
    min-height: 100%;
}

.image_profile{
    width: 100%;
    display: block;
}

.image_profile > .image{
    width: 100%;
    height: 350px;
    position: relative;
}

.image_profile > .image > .image_box{
    display: none;
    width: 100%;
    height: 100%;
}

.image_profile > .image > .image_box > .att_image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.image_profile > .image > .right_btn{
    width: 36px; height: 36px;
    z-index: 2;
    position: absolute;
    right: 10px;
    top: 45%;
    cursor: pointer;
}

.image_profile > .image > .left_btn{
    width: 36px; height: 36px;
    z-index: 2;
    position: absolute;
    left: 10px;
    top: 45%;
    cursor: pointer;
}

.image_profile > .image > .dots{
    width: 100%;
    position: absolute;
    bottom: 10px;
    z-index: 2;
}

.image_profile > .image > .dots > .dot_box{
    display: flex;
    justify-content: center;
}

.image_profile > .image > .dots > .dot_box > .dot{
    background-color: white;
    opacity: 0.75;
    width: 12px; height: 12px;
    border-radius: 50%;
    margin-right: 6px;
    margin-left: 6px;
    cursor: pointer;
    border: 1px solid white;
}

.image_profile > .image > .dots > .dot_box > .active, 
.image_profile > .image > .dots > .dot_box > .dot:hover{
    background-color: black;
    opacity: 1;
}

.image_profile > .profile{
    padding: 10px;
    color: #666666;
}

.image_profile > .profile > .name{
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}

.image_profile > .profile > .cat_mrt{
    margin-top: 15px;
    font-size: 16px;
}

.image_profile > .profile > .booking_form{
    background-color: #E8E8E8;
    padding: 15px 20px 15px 20px;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 20px;
}

.image_profile > .profile > .booking_form > .booking_title, .booking_date, .booking_time, .booking_fee{
    font-weight: bold;
}

.image_profile > .profile > .booking_form > .booking_description, .booking_date, .booking_time, .booking_fee{
    margin-top: 15px;
}

.image_profile > .profile > .booking_form > .booking_date > .date{
    padding: 5px 10px 5px 10px;
}

.image_profile > .profile > .booking_form > .booking_time{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-template-columns: 81px 20px 70px 20px 70px
}

.image_profile > .profile > .booking_form > .booking_time > .option{
    width: 18px;
    height: 18px;
    accent-color: #448899;
}

/* .image_profile > .profile > .booking_form > .booking_time > input[type="radio"]:checked{
    background-color: #448899;
} */

.image_profile > .profile > .booking_form > .booking_fee{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 81px auto;
}

.image_profile > .profile > .booking_form > .booking_btn{
    color: white;
    background-color: #448899;
    padding: 10px 20px 10px 20px;
    font-size: 19px;
    border-radius: 5px;
    width: 154px;
    margin-top: 25px;
}

main > .info{
    margin-top: 40px;
    /* height: 700px; */
    display: grid;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #666666;
}


main > .info > .info_box > .address_title, .transport_title{
    margin-top: 20px;
    line-height: 150%;
    font-weight: bold;
}

main > .separator_main{
    width: 95%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

footer{
    display: flex;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color:white;
    background-color: #757575;
    width: 100%;
    height: 104px;
    text-align: center;
    justify-content: center; align-items: center;
    margin-top: 40px;
}

@media(min-width:768px){
    .image_profile{
        display: grid;
        grid-template-columns: repeat(2, 47.5%);
        grid-gap: 20px;
        justify-content: center;
        margin-top: 40px;
    }

    .image_profile > .image{height: 420px;}
    .image_profile > .profile{padding: 0px;}
    /* main > .info{height: 500px;} */
}

@media(min-width:1200px){
    nav{justify-content: center;}
    nav > .top_box{width: 1200px;}
    .image_profile{grid-template-columns: repeat(2, 590px);}
    .image_profile > .image{padding-left: 10px;}
    .image_profile > .profile{padding-right: 10px;}
    main > .separator_main{width: 1200px;}
    main > .info > .info_box{width: 1200px;}
    main > .info{justify-content: center;}
    .image_profile > .image > .left_btn{left:20px;}
}