*{
    margin: 0px;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

nav{
    width:100%;
    position: fixed;
    top: 0px;
    display: grid;
    background-color: white;
    padding: 10px;
    z-index: 10;
}

nav > .top_box{
    width: inherit;
    display: grid;
    grid-template-columns: auto 175px;
    align-items: center;
}

nav > .top_box > .title{
    justify-self: start;
    font-size: 30px;
    color: #448899;
    cursor: pointer;
}

nav > .top_box > .option_list{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    padding: 10px;
}

nav > .top_box > .option_list > .option{
    font-size: 16px;
    cursor: pointer;
}

nav > .top_box > .option_list > .option:hover{
    text-decoration: underline;
}

dialog{
    width: 340px;
    background-color: white;
    box-shadow: 0px 4px 60px #AAAAAA;
    border-radius: 6px;
    position: fixed;
    top: 80px;
    margin: 0 auto;
    border: none;
    padding: 0px;
}

dialog::backdrop{
    background-color: rgba(0, 0, 0, 0.25);
}

dialog > .dialog_box{
    display: grid;
    width: 100%;
    justify-content: center;
    padding: 15px 0 15px 0;
    position: relative;
}

dialog > .decorator_bar{
    background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
    height: 10px;
    width: 100%;
}

dialog > .dialog_box > .sign{
    display: grid;
    grid-template-columns: 310px;
    justify-items: center;
    row-gap: 10px;
}

dialog > .dialog_box > .sign > .sign_title{
    font-weight: bold;
    font-size: 24px;
    color: #666666;
}

dialog > .dialog_box > .sign > .icon_close{
    width: 16px;height: 16px;
    position: absolute;
    top: 17px;
    right: 17px;
    z-index: 2;
}


dialog > .dialog_box > .sign form{
    display: grid;
    grid-template-columns: 310px;
    row-gap: 10px;
}

dialog > .dialog_box > .sign form > input{
    padding: 15px;
    color: #757575;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #CCCCCC;
}

dialog > .dialog_box > .sign form > input.invalid{
    border: 2px solid red;
}

dialog > .dialog_box > .sign form > .dialog_btn{
    border-radius: 5px;
    background-color: #448899;
    padding: 10px 20px 10px 20px;
    color: white;
    font-size: 19px;
    font-weight: 400;
    width: 100%;
    text-align: center;
    cursor: pointer;
    border: none;
}

dialog > .dialog_box > .sign > .click_to{
    font-size: 16px;
    font-weight: 500;
    color: #666666;
}

dialog > .dialog_box > .sign > .click_to span{
    cursor: pointer;
}

dialog > .dialog_box > .sign > .response_text{
    color: red;
}

main{
    padding-top: 62px;
    width: 100%;
    min-height: 100%;
}


.heroSection{
    width: 100%;
    height: 320px;
    position: relative;
    z-index: -1;
}

.heroSection > .heroSection_image{
    width: 100%;
    height: 320px;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}

.slogan_container{
    display: grid;
    width: 100%;
    position: absolute;
    top: 137px;
    padding: 10px 10px 10px 20px;
}

.slogan_container > .slogan{
    display: grid;
    width: 100%;
}

.slogan_container > .slogan > .first_line{
    width: 100%;
    font-size: 28px;
    font-weight: bold;
    color: #F8F8F8;
    justify-self: start;
}

.slogan_container > .slogan > .second_line{
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
    color: #F8F8F8;
}

.slogan_container > .slogan > .search_box{
    display: flex;
    margin-top: 25px;
}

.slogan_container > .slogan > .search_box > .search_bar{
    padding: 15px;
    width: 66.7%;
    font-size: 16px;
}

.slogan_container > .slogan > .search_box > .search_icon_box{
    width: 60px;
    background-color: #448899;
    display: grid;
    justify-items: center;
    align-items: center;
    cursor: pointer;
}

.slogan_container > .slogan > .search_box > .search_icon_box > .search_icon{
    width:30px;
}

.slogan_container > .cat_list{
    width: 66.7%;
    /* height: 500px; */
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 20px #AABBCC;
    z-index: 8;
    margin-top: 2px;
    display: none;
}

.slogan_container > .cat_list > .category_item{
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

.attraction_list{
    display: grid;
    margin-top: 40px;
    padding: 15px;
}

.attraction_list > .attraction_group{
    width:100%;
    display: grid;
    grid-template-columns: 90%;
    grid-gap: 30px;
    justify-content: center;
}

.item{
    
    display: grid;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    cursor: pointer;
}

.item:hover{
    background-color: white;
    opacity: 0.75;
}

.detail1{
    width: 100%;
    height: 200px;
    position: relative;

}

.detail1 > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.detail1 > .name{
    width: 100%;
    color: white;
    background-color: rgb(0,0,0,0.5);
    z-index: 2;
    position: absolute;
    bottom: 0px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
}

.detail2{
    background-color: rgb(255,255,255);
    display: grid;
    grid-template-columns: repeat(2, 50%);
    padding: 10px;
    align-items: center;
}

.detail2 > .mrt{
    justify-self: start;
    font-size: 16px;
    color: #757575;
}

.detail2 > .category{
    justify-self: end;
    font-size: 16px;
    color: #757575;
}

footer{
    display: flex;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color:white;
    background-color: #757575;
    width: 100%;
    height: 104px;
    text-align: center;
    justify-content: center; align-items: center;
}

@media(min-width:600px){
    .slogan_container > .slogan > .search_box > .search_bar{width: 400px;}
    .slogan_container > .cat_list{width: 400px;}
    .attraction_list > .attraction_group{grid-template-columns: repeat(2, 45%);}
}

@media(min-width:1200px){
    nav{justify-content: center;}
    nav > .top_box{width: 1200px;}
    .slogan_container{justify-content: center;}
    .slogan_container > .slogan{width:1200px;}
    .attraction_list > .attraction_group{grid-template-columns: repeat(4, 270px);}
}