<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name = "viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="utf-8" />
        <title>Taipei-Day-Trip</title>
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='attraction_style.css') }} />
    </head>
    <body>
        <nav style="border-bottom: 1px solid #E8E8E8;">
            <div class="top_box">
                <div class="title">台北一日遊</div>
                <div class="option_list">
                    <div class="option" id="booking">預定行程</div>
                    <div class="option" id="sign_in_up">登入/註冊</div>
                    <div class="option" id="sign_out" style="display: none;">登出系統</div>
                </div>
            </div>
        </nav>
        <dialog id="dialog">
            <div class="decorator_bar"></div>
            <div class="dialog_box">
                <div class="sign" id="sign_in">
                    <div class="sign_title">登入會員帳號</div>
                    <img class="icon_close" src={{ url_for ('static', filename='icon_close.png') }} alt="close" />
                    <form onsubmit="return false;">
                        <input class="dialog_input" id="email" type="text" placeholder="輸入電子信箱" pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" required autofocus/>
                        <input class="dialog_input" id="password" type="password" placeholder="輸入密碼" required />
                        <button type="submit" class="dialog_btn" id="sign_in_btn">登入帳戶</button>
                    </form>
                    <div class="response_text" id="sign_in_response_text" style="display: none;"></div>
                    <div class="click_to">還沒有帳戶？<span>點此註冊</span></div>
                </div>
                <div class="sign" id="sign_up" style="display: none;">
                    <div class="sign_title">註冊會員帳號</div>
                    <img class="icon_close" src={{ url_for ('static', filename='icon_close.png') }} alt="close" />
                    <form onsubmit="return false">
                        <input class="dialog_input" id="new_name" type="text" placeholder="輸入姓名" pattern="[a-zA-Z0-9]+" required autofocus/>
                        <input class="dialog_input" id="new_email" type="text" placeholder="輸入電子信箱" pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" required />
                        <input class="dialog_input" id="new_password" type="password" placeholder="輸入密碼" pattern="[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-@]" minlength="8" maxlength="15" required />
                        <button type="submit" class="dialog_btn" id="sign_up_btn">註冊新帳戶</button>
                    </form>
                    <div class="response_text" id="sign_up_response_text" style="display: none;"></div>
                    <div class="click_to">已經有帳戶了？<span>點此登入</span></div>
                </div>
            </div>
        </dialog>
        <main>
            <div class="image_profile">
                <div class="image" id="image">
                    <img class="right_btn" id="next" src={{ url_for("static", filename = "btn_rightArrow.png")}} />
                    <img class="left_btn" id="back" src={{ url_for("static", filename = "btn_leftArrow.png")}} />
                    <div class="dots"><div class="dot_box" id="dot_box"></div></div>
                </div>
                <div class="profile">
                    <div class="name" id="name"></div>
                    <div class="cat_mrt" id="cat_mrt"></div>
                    <form class="booking_form">
                        <div class="booking_title">訂購導覽行程</div>
                        <div class="booking_description">以此景點為中心的一日行程，帶您探索城市角落故事</div>
                        <div class="booking_date">選擇日期： <input class="date" type="date" placeholder="yyyy/mm/dd" value=" " required/></div>
                        <div class="booking_time">
                            <div>選擇時間：</div>
                            <input class="option" id="morning" type="radio" name="guide_time" value="上半天" />
                            <div style="font-weight: normal;">上半天</div>
                            <input class="option" id="afternoon" type="radio" name="guide_time" value="下半天" /> 
                            <div style="font-weight: normal;">下半天</div>
                        </div>
                        <div class="booking_fee">
                            <div>導覽費用： </div>
                            <div id="fee1" style="display: none;font-weight: normal;">新台幣 2000 元</div>
                            <div id="fee2" style="display: none;font-weight: normal;">新台幣 2500 元</div>
                        </div>
                        <div class="booking_btn">開始預約行程</div>
                    </form>
                </div>
            </div>
            <hr class="separator_main" color="#E8E8E8" size="1px"/>
            <div class="info">
                <div class="info_box">
                    <div id="description"></div>
                    <div class="address_title">景點地址：</div>
                    <div id="address"></div>
                    <div class="transport_title">交通方式：</div>
                    <div id="transport"></div>
                </div>
            </div>
        </main>
        <footer id="footer">COPYRIGHT © 2021 台北一日遊</footer>
        <script src={{ url_for("static", filename = "attraction.js")}}></script>
        <script src={{ url_for("static", filename = "sign.js")}}></script>
    </body>
</html>