<!DOCTYPE html>
<html>
    <head>
        <meta name = "viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="utf-8" />
        <title>Taipei-Day-Trip</title>
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='style.css') }} />
    </head>
    <body>
        <nav>
            <div class="top_box">
                <div class="title">台北一日遊</div>
                <div class="option_list">
                    <div class="option">預定行程</a></div>
                    <div class="option">登入/註冊</div>
                </div>
            </div>
        </nav>
        <main id="main">
            <div class="slogan_container">
                <div class="slogan">
                    <div class="first_line">輕鬆享受台北一日悠閒</div>
                    <div class="second_line">探索每個角落，體驗城市的深度旅遊行程</div>
                    <div class="search_box">
                        <input class="search_bar" id="search_bar" type="text" placeholder="輸入景點名稱查詢" />
                        <div class="search_icon_box" id="search"><img class="button search_icon" src={{ url_for ('static', filename='icon_search.png') }} /></div>
                    </div>
                </div>
                <div class="cat_list" id="cat_list"></div>
            </div>
            <div class="heroSection">
                <img class="heroSection_image" src= {{ url_for ('static', filename='welcome-image.png') }} />
            </div>
            <div class="attraction_list">
                <div class="attraction_group" id="attraction_group"></div>
            </div>
        </main>
        <footer id="footer">COPYRIGHT © 2021 台北一日遊</footer>
        <script src={{ url_for("static", filename = "fetch2.js")}}></script>
    </body>
</html>